:root {
  --primary-color: black;
  --text-color: white;
  --nav-color: #3d3bb1;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}
