.nav-container {
  display: flex;
  align-items: start;
  width: 100%;
  justify-content: space-between;
  background: linear-gradient(135deg, rgb(61, 59, 177), rgb(3, 3, 3));
  padding: 1rem;
}
.nav-logo {
  width: 4rem;
  height: auto;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-container {
  width: 100%;
}
.cart-item {
  display: flex;
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
.cart-item-img {
  height: 10rem;
}

label {
  font-size: 1.6rem;
}

h1 {
  font-size: 3rem;
}
.article-personal-info,
.article-cart {
  margin: 0 2.5rem;
}
.form-item {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
}
.form-group-name,
.form-group-position {
  display: flex;
  justify-content: space-between;
}
.form-first-name,
.form-last-name,
.form-adress,
.form-city {
  width: 45%;
}

.submit-pay {
  background-color: aquamarine;
  margin: 2rem;
  font-size: 1.5rem;
}

.payment,
.e-mail,
.your-name,
.your-city,
.your-address {
  border-radius: 1rem;
  padding: 0.5rem;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, rgb(61, 59, 177), rgb(3, 3, 3));
  padding: 1rem;
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
  .section-container {
    display: flex;
    width: 100%;
  }
  .article-personal-info {
    width: 50%;
    margin: 0 2.5rem;
  }
  .article-cart {
    width: 50%;
    margin: 0 2.5rem;
  }
}
