/* NAVBAR STYLING MOBILE FIRST*/
.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background: linear-gradient(135deg, rgb(61, 59, 177), rgb(3, 3, 3));
  padding: 1rem;
}

.nav-list {
  display: none;
  cursor: pointer;
  
}

.nav-logo {
  color: var(--text-color);
}

/* FOOTER STYLING */

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, rgb(61, 59, 177), rgb(3, 3, 3));
  padding: 1rem;
}

.footer-content {
  color: var(--text-color);
}

/* MAIN SECTION STYLING */
#cardSection {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.card-container {
    width: 200px;
    height: 250px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
}

.images {
  width: auto;
  height: 100px;
  object-fit: cover;
}
.cart-caption {
    position: fixed;
    margin: -3rem 0.5rem;
    background-color: red;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
}
.display-none {
    display: none;
}


.card-title {
    max-height: 30%;
    text-overflow: ellipsis; /* gömmer text som är för lång just nu, måste kanske visas på annat sätt? */
    overflow: hidden;
}
#priceRating{
  /* appearance: none; */
  margin: 10px;
  width: 20%;
  max-width: 200px;
  min-width: 180px;
  font-size: 1.15rem;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}
body #priceRating:hover {
  box-shadow: inset 0px 0px 10px rgb(141, 140, 140);
}
.buy-btn {
  cursor: pointer;
}



@media(min-width: 768px) {

}
@media (min-width: 1200px) {
  .nav-list {
    display: flex;
    list-style-type: none;
    gap: 4rem;
  }
  .nav-list > li {
    color: var(--text-color);
  }
}
