/* NAVBAR STYLING MOBILE FIRST*/
.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background: linear-gradient(135deg, rgb(61, 59, 177), rgb(3, 3, 3));
  padding: 1rem;
}

.nav-list {
  display: none;
  
}

.nav-logo {
  color: var(--text-color);
}

/* FOOTER STYLING */

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, rgb(61, 59, 177), rgb(3, 3, 3));
  padding: 1rem;
}

.footer-content {
  color: var(--text-color);
}

/* MAIN SECTION STYLING */
.section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.card-container {
  width: 300px;
  height: 300px;
  border: solid;
  border-radius: 50px;
  padding: 50px;
}

.images {
  width: auto;
  height: 100px;
  object-fit: cover;
}
.cart-caption {
    position: fixed;
    margin: -3rem 0.5rem;
    background-color: red;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
}
.display-none {
    display: none;
}

@media (min-width: 1200px) {
  .nav-list {
    display: flex;
    list-style-type: none;
    gap: 4rem;
  }
  .nav-list > li {
    color: var(--text-color);
  }
}
