/* NAVBAR STYLING MOBILE FIRST*/
.nav-container {
  display: flex;
  align-items: start;
  width: 100%;
  justify-content: space-between;
  background: linear-gradient(135deg, rgb(61, 59, 177), rgb(3, 3, 3));
  padding: 1rem;
}

.nav-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 2rem;
}

.nav-list > li {
  color: var(--text-color);
}

.nav-logo {
  width: 4rem;
  height: auto;
}

/* FOOTER STYLING */

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, rgb(61, 59, 177), rgb(3, 3, 3));
  padding: 1rem;
}

.footer-content {
  color: var(--text-color);
}
.sort-select {
  margin: 0.5rem 5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

/* MAIN SECTION STYLING */
#cardSection {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.card-container {
  width: 20rem;
  height: 25rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}
.card-headline {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-bottom: 5rem;
}
.buy-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}
.buy-btn:hover {
  background-color: darkcyan;
}
.card-info-container {
  display: flex;
  gap: 45%;
}
.card-info-price {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.card-info-rate {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.images {
  width: auto;
  height: 10rem;
  padding: 1rem;
}
.cart-caption {
  position: fixed;
  margin: -3rem 0.5rem;
  background-color: red;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
}
.display-none {
  display: none;
}

.card-title {
  max-height: 30%;
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
  .nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 4rem;
    margin-top: auto;
  }
  .nav-burger {
    display: none;
  }
  .nav-logo {
    order: -1;
  }
}
