/* NAVBAR STYLING MOBILE FIRST*/
.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background: linear-gradient(135deg, rgb(61, 59, 177), rgb(3, 3, 3));
  padding: 1rem;
}

.nav-list {
  display: none;
  list-style-type: none;
}

.nav-logo {
  color: var(--text-color);
}

.section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.card-container {
  width: 300px;
  height: 300px;
  border: solid;
  border-radius: 50px;
  padding: 50px;
}

.images {
  width: auto;
  height: 100px;
  object-fit: cover;
}

@media (min-width: 1200px) {
  .nav-list {
    display: block;
  }
}
