/* NAVBAR STYLING MOBILE FIRST*/
.nav-container {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background: linear-gradient(135deg, rgb(61, 59, 177), rgb(3, 3, 3));
  padding: 1rem;
}

.nav-list {
  display: none;
  cursor: pointer;
  

}

.nav-logo {
  color: var(--text-color);
}

/* FOOTER STYLING */

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, rgb(61, 59, 177), rgb(3, 3, 3));
  padding: 1rem;
}

.footer-content {
  color: var(--text-color);
}

/* MAIN SECTION STYLING */
#cardSection {

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card-container {
    width: 20rem;
    height: 25rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}
.card-headline {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 5rem;
}
.buy-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}
.buy-btn:hover {
  background-color: darkcyan;
}
.card-info-container {
  display: flex;
  gap: 45%
}
.card-info-price{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card-info-rate {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.images {
  width: auto;
  height: 10rem;
  padding: 1rem;
}
.cart-caption {
    position: fixed;
    margin: -3rem 0.5rem;
    background-color: red;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
}
.display-none {
    display: none;
}


.card-title {
    max-height: 30%;
}

#priceRating{
  /* appearance: none; */
  margin: 10px;
  width: 20%;
  max-width: 200px;
  min-width: 180px;
  font-size: 1.15rem;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
  margin-top: 5rem;
}
body #priceRating:hover {
  box-shadow: inset 0px 0px 10px rgb(141, 140, 140);
}
.buy-btn {
  cursor: pointer;
}

@media(min-width: 768px) {

}
@media (min-width: 1200px) {
  .nav-list {
    display: flex;
    list-style-type: none;
    gap: 4rem;
  }
  .nav-list > li {
    color: var(--text-color);
  }
}
