*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-container {
    /* background-color: black; */
    display: flex;

}
.section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.card-container {
    width: 300px;
    height: 300px;
    border: solid;
    border-radius: 50px;
    padding: 50px;
}

.images {
    width: auto;
    height: 100px;
    object-fit: cover;
}

@media(min-width: 768px) {

}
@media(min-width: 1200px) {
    
}